* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    border:none;
    outline: none;

}
body {
    font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card {
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: aliceblue; */
    padding:10px;
    margin:15px;
    
}
label {
    display:block;
    margin:10px;
    padding:5px;
    border: 2px solid lavenderblush;
    border-radius:5px;
}
#score {
    line-height: 2;
    font-weight: bold;
    font-size:20px;
}

.submit-container {
    text-align: center;
}

input[type=submit]{ 
    font-size: 30px;
    border: none;
    text-decoration: none;
    background-color:  #4CAF50;
    border-radius: 5px;
    padding:15px;
    margin:10px;
    color: white;
}
.green {
    background-color: 	#7CFC00;
}
.red {
    background-color: #EF2828;
}
.error { 
    color: red;
}
.title{
    text-align: center;
    padding:10px;
    margin: 10px;
}
.qnTitle {
    font-weight: bold;
}
.timer {
    /* position: relative; */
    position: sticky;
    top:0px;
    padding: 10px 0px;
    background: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#counter {
    /* position: absolute; */
    background: yellow;
   
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 5% 20%;
    padding-bottom: 0px;
    font-weight: bold;
    color: black;
    
}