@import 'utilities.css';
/*Timer*/

.timer {
    position: sticky;
    top: 0px;
    padding: 10px 30px;
    background: var(--pure);
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* display: none; */
}

#counter {
    color: var(--darkText);
    background: var(--btnprimary);
    border-radius: 8px;
    width: fit-content;
    text-align: center;
    font-size: 25px;
    padding: 5px 20px;
    font-weight: bold;
}

/* landing page display tests css */

.title {
    background-color: var(--btnprimary);
    opacity: 0.8;
    flex-direction: column;
    margin-bottom: 10px;
}

.titleP {
    font-size: 20px;
    padding: 8px 0;
    text-align: center;
}

/*Modal Window*/

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 80%;
    height: fit-content;
    border-radius: 5px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

.modal-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid var(--lightborder);
}

.modal-content {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.modal-header div.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
    float: right;
    color: var(--pure);
}

.modal-header h1, .modal-header p, .modal-body h1, .modal-body p {
    color: var(--pure);
    margin-bottom: 15px;
}

.modal-header p {
    color: var(--darkborder);
}

.modal-body {
    margin-top: 50px;
}

.modal-body h1, .modal-body p {
    margin-bottom: 20px;
}

.startTestBtn {
    margin: 50px 0;
    background: var(--btnprimary);
}

.modal-footer h1 {
    color: var(--correct);
}

/*Question Cards*/

.card {
    width: 90%;
    border: 1px solid var(--darkborder);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto 0;
}

.card h2 {
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    text-align: center;
}
footer p.highlight {
    display: flex;
    justify-content: center;
}
.linkedin {
    margin-left: 10px;
    height: 30px;
    width: 30px;
}
.social-links {
}
/* 
.social-links a img {
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
} */
/* 
.social-links a img:hover {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
} */

.social-links .fb i {
    color: #3b5998;
}
/* 
.social-links .youtube i {
    color: #db4a39;
} */

/* .social-links .insta i {
    color: rgba(225, 48, 108, 0.8);
}

.social-links .youtube i:hover {
    background: #db4a39;
}

.social-links .insta i:hover {
    background: rgba(225, 48, 108, 0.8);
}

.social-links .fb i:hover {
    background: #3b5998;
} */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

label {
    display: block;
    margin: 10px;
    padding: 8px;
    border: 1px solid var(--lightborder);
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

#score {
    line-height: 2;
    font-weight: bold;
}

.submit-container {
    text-align: center;
}

input[type=submit] {
    font-size: 25px;
    background: var(--btnSecondary);
    margin: 10px;
    color: var(--pure);
}

input[type=submit]:hover {
    box-shadow: 2px 2px 2px #077a0b;
}

@media (max-width: 767px) {
    .timer {
        padding: 15px;
        /* display: none; */
    }
    #counter {
        padding: 5px 10px;
        margin: 0;
    }
    .modal {
        width: 90%;
    }
    .card {
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--darkborder);
        border-radius: 0;
        padding: 30px 20px;
        margin: 0;
    }
    .card h2 {
        font-size: 18px;
    }
}

.errorMsg {
    margin: 10px;
}