:root {
    --btnprimary: #00aff0;
    --btnSecondary: #4CAF50;
    --primaryText: #233246;
    --darkText: #313131;
    --darkborder: #b3b3b3;
    --lightborder: #e0e0e0;
    --pure: #fff;
    --highlighter: #ffa500;
    --correct: #7CFC00;
    --error: #ee3131;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: var(--darkText);
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
}
h3 {
    text-decoration:none;
    font-size: 18px;
}
p {
    font-size: 18px;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: capitalize;
    /* background: var(--pure); */
    border-radius: 5px;
}

.highlight {
    color: var(--highlighter);
}

.score {
    color: var(--btnprimary);
}

.green {
    background: var(--correct);
}

.red, .error {
    background-color: var(--error);
}

.modal h1 {
    font-size: 21px;
}

input[type=text] {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid;
}

::placeholder {
    text-align: center;
    /* color:white; */
}

/* error message */

.errorMsg {
    color: red
}